.hero {
    display: flex;
    background: rgba(242, 240, 241, 1);
    height: 550px;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 80px;
}
.hero-left h2 {
    width: 500px;
    font-size: 55px;
    font-style: bold;
    font-weight: 700;
    padding-top: 60px;
}
.hero-left p {
    width: 450px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.shop_now_btn {
    background: black;
    color: white;
    width: 180px;
    text-align: center;
    border-radius: 62px;
    padding: 14px;
    cursor: pointer;
    margin: 20px 0;
}
.hero-details {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.hero-details div {
    width: 160px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    border-right-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
}
.last-div {
    border-right-style: none !important;
}
.hero-details div span {
    font-size: 40px;
    font-style: bold;
    color: rgba(0, 0, 0, 1);
}
.hero_right {
    overflow: hidden;
    margin-left: 35px;
}
.brands-div {
    width: 100%;
    height: 70px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
