.might-like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.might-like h1 {
    font-size: 46px;
    margin-top: 50px;
}
.might-like hr {
    width: 80%;
    margin-top: 70px;
    border: none;
    height: 1px;
    background-color: #ccc;
}
.might-like-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    width: 75%;
}