body {
    background-color: rgb(17, 0, 51);
}

.loanFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formClass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(51,0,170);
    border-radius: 10px;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 50%;
}

label {
    margin-top: 10px;
    font-size: large;
}

input {
    width: 100%;
    height: 30px;
    border: 0;
    outline: none;
    padding-left: 5px;
    font-size: large;
}

hr {
    width: 100%;
    margin-top: 10px;
}

#checkboxLabel {
    margin-top: 30px;
}

#submitBtn {
    margin-top: 20px;
    padding: 8px;
    background-color: rgb(226, 43, 214);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: large;
}

#selectId {
    width: 100%;
    height: 28px;
    border: 0;
    outline: none;
    font-size: medium;
}

.modalParentDiv {
    position: absolute;    
    background-color: rgba(0, 0, 0, 0.804);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalChildDiv {
    background-color: aliceblue;
    color: green;
    height: 50px;
    width: 60%;
    text-align: center;
    padding-top: 5px;
}

.disabled {
    background-color: gray !important;
    cursor: default !important;
}