.customer-reviews {
    margin: 30px 20px;
}
.customer-reviews-header {
    margin: 80px 0px 10px 80px;
    font-size: 2rem;
    font-weight: 900;
    
}
.customer-reviews-item {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    width: 90%;
    margin: auto;
}