.cart-main {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cart-page h1 {
  margin: 30px 0px 20px 120px;
}
.cart-container {
  /* margin: 50px; */
  box-shadow: 0px 0px 2px -1px black;
  width: 45%;
  border-radius: 20px;
  padding: 15px;
}
.product-details-container {
  display: flex;
  justify-content: space-between;
}
.product-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  position: relative;
  min-height: 130px; 
}
.trash-icon-wrapper {
  position: absolute;
  top: 0;
}
.product-details {
  display: flex;
  margin: 20px;
}
.cart-right-side {
  padding: 20px;
  box-shadow: 0px 0px 2px -1px black;
  width: 35%;
  border-radius: 20px;
  height: 380px;
  
}
.cart-right-side h3 {
  margin: 10px 15px 20px 15px;
}
.cart-right-side-details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.cart-right-side-apply {
  margin: 20px 15px 20px 15px;
  display: flex;
}
.apply-input {
  outline: none;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 40px;
  padding: 10px 10px 10px 17px;
  font-size: 15px;
  font-weight: 200;
  background: rgba(240, 240, 240, 1);
}
.apply-btn {
  background-color: black;
  color: white;
  border-radius: 40px;
  text-align: center;
  width: 90px;
  margin-left: 15px;
  cursor: pointer;
}
.checkout-btn {
  margin: 15px;
  background-color: black;
  color: white;
  width: 95%;
  border-radius: 40px;
  height: 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.arrow-icon {
  color: white;
}
.salaries {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.cart-image {
  border-radius: 20px;
}
.delete-icon {
  color: red;
  height: 30px;
  cursor: pointer;
}
.add-delete-div {
  background: rgba(240, 240, 240, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  width: 100px;
  margin-right: 60px;
}
.add-delete-div button {
  border: none;
  outline: none;
  background: none;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
}
.item-price-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
}
.cart-item-separator {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 10px 20px;
}
.empty-cart-message {
  text-align: center;
  margin: 30px;
  font-size: 22px;
  font-weight: 400;
}