.new-arrivals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.new-arrivals h1 {
    font-size: 46px;
    margin-top: 50px;
}
.new-arrivals-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 75%;
}
