.New-arrivals-products-display{
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 40px;
}
.New-arrivals-products-display-container h1 {
    font-size: 46;
    font-weight: 900;
    text-align: center;
}
.New-arrivals-products-display-container {
    margin: 50px;
}
