.footer-info {
    display: flex;
    justify-content: space-around;
    background: rgba(240, 240, 240, 1);
    padding: 120px 40px 40px 40px;
}
.footer-info p {
    color: #626262;
    margin: 20px 0;
}
.site-info h3 {
    font-size: 34px;
    font-weight: 600;
}
.site-info p {
    width: 250px;
    margin-bottom: 40px;
}
.site-info a {
    padding-right: 20px ;
}
h4 {
    font-weight: 500;
}
hr {
    width: 90%;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: auto;
}
.copyright {
    background: rgba(240, 240, 240, 1);
    padding-bottom: 40px;
}
.copyright-text {
    color: #626262;
    margin: 25px 65px;
}
.copyright-container {
    display: flex;
    justify-content: space-between;
}
.payment-icons {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    margin-right: 65px;
}
.payment-icon {
    cursor: pointer;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 80%;
    height: 150px;
    border-radius: 15px;
    position: relative;
    top: 72px;
    margin: 0px auto;
    padding: 55px;
}
.footer-1 p {
    font-size: 36px;
    font-weight: 800;
    width: 450px;
}
.subscribe {
    display: flex;
    flex-direction: column;
}
.subscribe input{
    width: 300px;
    height: 40px;
    padding-left: 18px;
    outline: none;
    border-radius: 18px;
    font-size: 17px;
}
.subscribe button {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 5px;
}